<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OSTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>MainServlet</display-name>
    <servlet-name>MainServlet</servlet-name>
    <servlet-class>servlet.MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MainServlet</servlet-name>
    <url-pattern>/MainServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DataServlet</display-name>
    <servlet-name>DataServlet</servlet-name>
    <servlet-class>servlet.DataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DataServlet</servlet-name>
    <url-pattern>/DataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownServlet</display-name>
    <servlet-name>DownServlet</servlet-name>
    <servlet-class>servlet.DownServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownServlet</servlet-name>
    <url-pattern>/DownServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ResetServlet</display-name>
    <servlet-name>ResetServlet</servlet-name>
    <servlet-class>servlet.ResetServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ResetServlet</servlet-name>
    <url-pattern>/ResetServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SaveDataServlet</display-name>
    <servlet-name>SaveDataServlet</servlet-name>
    <servlet-class>servlet.SaveDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SaveDataServlet</servlet-name>
    <url-pattern>/SaveDataServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RerunServlet</display-name>
    <servlet-name>RerunServlet</servlet-name>
    <servlet-class>servlet.RerunServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RerunServlet</servlet-name>
    <url-pattern>/RerunServlet</url-pattern>
  </servlet-mapping>
</web-app>